bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/ServerMonitoring/DesignTimeBuild/.dtbcache.v2
/.vs/ServerMonitoring/FileContentIndex/8dab0f06-ce67-4363-b649-01166fff189e.vsidx
/.vs/ServerMonitoring/FileContentIndex/9cc78f9e-af76-46c2-b288-a6403f151154.vsidx
/.vs/ServerMonitoring/FileContentIndex/b1167881-e16b-4252-ab2e-8c10008ffaeb.vsidx
/.vs/ServerMonitoring/FileContentIndex/bce42f05-6978-464b-aef2-4d43dfbd2afc.vsidx
